core.*
/dataset
/resources
/preprocessed
**/*.ipynb
**/.mypy_cache
/experiments_post
/results
*.pyc
/.vscode
/.env
*.code-workspace
.idea
*.log

/snap_tmp
/snap
**/__pycache__
.pytest_cache
mmpose

/outputs
*.swp

*.log
/tmp
.neptune/
**/build
**/*.egg-info
**/*.whl
